body {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgb(172, 172, 209);
}

canvas {
    background: #eee; 
    /* display: block;  */
    margin: 0 auto;
}